<table class="table table-hover">
    <thead>
    <tr>
        <th class="number-head">
            <div>
                <label for="ex1">
                    <a href="#" ng-click="vm.changeSort('number')">Number</a>
                    <span ng-show="vm.sortType === 'number' && vm.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                    <span ng-show="vm.sortType === 'number' && !vm.sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                </label>
                <input class="form-control" id="ex1" type="text"/>
            </div>
        </th>
        <th class="name-head">
            <div>
                <label for="ex2">
                    <a href="#" ng-click="vm.changeSort('lastName')">Full name</a>
                    <span ng-show="vm.sortType === 'lastName' && vm.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                    <span ng-show="vm.sortType === 'lastName' && !vm.sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                </label>
                <input class="form-control" id="ex2" type="text"/>
            </div>
        </th>
        <th class="date-head">
            <div>
                <label for="ex3">
                    <a href="#" ng-click="vm.changeSort('created')">Date created</a>
                    <span ng-show="vm.sortType === 'created' && vm.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                    <span ng-show="vm.sortType === 'created' && !vm.sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                </label>
                <input class="form-control" id="ex3" type="text"/>
            </div>
        </th>
        <th class="date-head">
            <div>
                <label for="ex4">
                    <a href="#" ng-click="vm.changeSort('done')">Date done</a>
                    <span ng-show="vm.sortType === 'done' && vm.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                    <span ng-show="vm.sortType === 'done' && !vm.sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                </label>
                <input class="form-control" id="ex4" type="text"/>
            </div>
        </th>
        <th class="status-head">
            <div>
                <label for="ex5">
                    <a href="#" ng-click="vm.changeSort('status')">Status</a>
                    <span ng-show="vm.sortType === 'status' && vm.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                    <span ng-show="vm.sortType === 'status' && !vm.sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                </label>
                <input class="form-control" id="ex5" type="text"/>
            </div>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="applicant in vm.applicants | orderBy:vm.sortType:vm.sortReverse track by applicant.$id"
        ng-click="vm.goToDetail(applicant)"
        ng-class="{active: !applicant.status, success: applicant.status}"
        class="pointer">
        <td>{{ ::applicant.number }}</td>
        <td>{{ ::vm.getFullName(applicant) }}</td>
        <td>{{ ::applicant.created }}</td>
        <td>{{ ::applicant.done }}</td>
        <td>{{ ::vm.getStatusName(applicant.status) }}</td>
        <td>
            <button class="btn btn-default" ng-click="vm.removeApplicant(applicant)">Remove</button>
        </td>
    </tr>
    </tbody>
</table>
