<div>
    <div class="modal-header">
        <h3 class="modal-title">{{$ctrl.title}}</h3>
    </div>

    <form name="$ctrl.dataForm"
          novalidate
          class="ng-pristine ng-valid"
          ng-submit="$ctrl.createApplicant({isValid: $ctrl.dataForm.$valid, applicant: $ctrl.applicant})">

        <div class="modal-body">
            <div class="form-group">


                <label class="light-label">Number</label>
                <input type="number"
                       class="form-control"
                       name="number"
                       ng-model="$ctrl.applicant.number"
                       required />

                <!-- Use ng-if because ng-messages didn't work -->
                <div ng-if="$ctrl.dataForm.number.$error.required"
                     style="color:maroon"
                     role="alert">
                    <div ng-message="required">
                        Error
                    </div>
                </div>

                <label class="light-label">First Name</label>
                <input type="text"
                       class="form-control"
                       name="firstName"
                       ng-model="$ctrl.applicant.firstName"
                       required />

                <!-- Use ng-if because ng-messages didn't work -->
                <div ng-if="$ctrl.dataForm.firstName.$error.required"
                     style="color:maroon"
                     role="alert">
                    <div ng-message="required">
                        Error
                    </div>
                </div>

                <label class="light-label">Last Name</label>
                <input type="text"
                       class="form-control"
                       name="lastName"
                       ng-model="$ctrl.applicant.lastName"
                       required/>

                <!-- Use ng-if because ng-messages didn't work -->
                <div ng-if="$ctrl.dataForm.lastName.$error.required"
                     style="color:maroon"
                     role="alert">
                    <div ng-message="required">
                        Error
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="form-group">
                <button class="btn btn-primary pull-right" type="submit">
                    Create
                </button>
            </div>
        </div>

    </form>
</div>
